<h1><%= @place["name"] %></h1>
<h2>My Entries</h2>

<div class="row mt-3">
  <% for entry in @entries %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <% if entry.image.attached? %>
          <img src="<%= url_for(entry.image) %>" class="img-fluid">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= entry["title"] %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= entry["occurred_on"] %></h6>
          <p class="card-text"><%= entry["description"] %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if current_user %>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-success mt-2">New Entry</a>
<% end %>

<a href="/places" class="btn btn-secondary mt-2 ms-2">Back to All Places</a>